*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/

$RECYCLE.BIN/
.sourcemaps/
.gradle

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
*.iml
nbproject/
www.zip
src/android/.project
