<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-paytm"
        version="0.0.4">

  <name>PayTM</name>

  <description>
    This Plugin allows you to integrate PayTM application into a cordova app.
  </description>

  <author>Arun Yokesh Kumar</author>

  <license>MIT</license>

  <keywords>PayTM, Payment, Gateway, Mobile</keywords>

  <repo>https://github.com/YaMo97/paytm-cordova-plugin.git</repo>

  <issue>https://github.com/YaMo97/paytm-cordova-plugin/issues</issue>

  <preference name="MERCHANT_ID" />
  <preference name="INDUSTRY_TYPE_ID" />
  <preference name="WEBSITE" />

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

 <asset src="www/paytm.js" target="js/paytm.js"/>

  <js-module src="www/paytm.js" name="paytm">
    <clobbers target="paytm" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="PayTM">
        <param name="ios-package" value="PayTMCordova"/>
        <plugin name="PayTMCordova" value="PayTMCordova"/>
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="PayTMMerchantID">
        <string>$MERCHANT_ID</string>
    </config-file>
    <config-file target="*-Info.plist" parent="PayTMIndustryTypeID">
        <string>$INDUSTRY_TYPE_ID</string>
    </config-file>
    <config-file target="*-Info.plist" parent="PayTMWebsite">
        <string>$WEBSITE</string>
    </config-file>

    <header-file src="src/ios/PayTM/Headers/PaymentsSDK.h"/>
    <header-file src="src/ios/PayTM/Headers/PGMerchantConfiguration.h"/>
    <header-file src="src/ios/PayTM/Headers/PGOrder.h"/>
    <header-file src="src/ios/PayTM/Headers/PGServerEnvironment.h"/>
    <header-file src="src/ios/PayTM/Headers/PGTransactionViewController.h"/>
    <header-file src="src/ios/PayTMCordova.h"/>
    <source-file src="src/ios/PayTMCordova.m"/>

    <!-- Facebook framework -->
    <source-file src="src/ios/PayTM/libPaymentsSDK.a" framework="true"/>
  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PayTM">
        <param name="android-package" value="com.paytm.cordova.PayTM" />
      </feature>
    </config-file>

    <source-file src="src/android/res/values/paytmcordova.xml" target-dir="res/values" />
    <config-file target="res/values/paytmcordova.xml" parent="/*">
        <string name="paytm_merchant_id">$MERCHANT_ID</string>
        <string name="paytm_industry_type_id">$INDUSTRY_TYPE_ID</string>
        <string name="paytm_website">$WEBSITE</string>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="application">
        <activity android:name="com.paytm.pgsdk.PaytmPGActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|keyboard"/>
    </config-file>

    <source-file src="src/android/pgplussdk-1.2.3.jar" target-dir="libs" />
    <source-file src="src/android/com/paytm/cordova/PayTM.java" target-dir="src/com/paytm/cordova"/>
  </platform>
</plugin>
